/* ==========================================================================
   Layout
   ========================================================================== */

.u-container {
  max-width: 96rem; // 960px
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 601px) {
    height: 8rem;
  }
  @media screen and (max-width: 601px) {
    height: 6rem;
  }
}
