/* ==========================================================================
   Variables
   ========================================================================== */

// Colors
$c__red: #F44336;
$c__pink: #E91E63;
$c__purple: #9C27B0;
$c__deep-purple: #673AB7;
$c__indigo: #3F51B5;
$c__blue: #2196F3;
$c__light-blue: #03A9F4;
$c__cyan: #00BCD4;
$c__teal: #009688;
$c__green: #4CAF50;
$c__light-green: #8BC34A;
$c__lime: #CDDC39;
$c__yellow: #FFEB3B;
$c__amber: #FFC107;
$c__orange: #FF9800;
$c__deep-orange: #FF5722;
$c__brown: #795548;
$c__grey: #9E9E9E;
$c__light-grey: #FAFAFA;
$c__blue-grey: #607D8B;
$c__black: #000000;
$c__white: #ffffff;
$c__dark-blue: #1A5D9F;
$c__dark-blue-hover: #2F6CA8;
$c__dark-blue-variant: #0080FF;
$c__dark-background: #121212;
$c__dark-background-light: #262626;
$c__dark-background-lighter: #363636;
$c__dark-background-lighter-hover: #464646;
$c__dark-background-collapsible: #8C8C8C;

// Theme
$t-theme: $c__indigo;
